@use '../helpers' as *;

//.patent__body {
//  margin-top: clamp(1.5rem, 4vw, 3rem);
//}
//
//.patent__inner {
//  display: flex;
//  justify-content: center; // если надо слева — поменяй на flex-start
//}
//
//.about-card--image {
//  --card-pad-x: #{rem(14)};
//  --card-pad-y: #{rem(14)};
//  padding: var(--card-pad-y) var(--card-pad-x);
//
//
//}



//@include tablet {
//  .about-card--image {
//    max-width: clamp(#{rem(240)}, 70vw, #{rem(420)});
//  }
//  .about-card--image .about-card__img {
//    max-height: #{rem(280)};
//  }
//}
//
//@include mobile {
//  //.patent__inner { justify-content: stretch; }
//
//  .about-card--image {
//    max-width: 100%;
//  }
//  .about-card--image .about-card__img {
//    max-height: #{rem(240)};
//  }
//}
