@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use './blocks/icon';
@use './blocks/logo';
@use './blocks/button';
@use './blocks/burger-button';
@use './blocks/header';
@use './blocks/footer';
@use './blocks/hero';
@use "./blocks/section";
@use "./blocks/card";
@use "./blocks/features";
@use "./blocks/about";
@use "./blocks/stats";
@use  './blocks/valuse';
@use  './blocks/services';
@use "./blocks/equipment";
@use "./blocks/tco";
@use "./blocks/trust";
@use "./blocks/contacts";
@use "./blocks/hero-secondary";
@use "./blocks/video-tour";
@use "./blocks/outfit";
@use "./blocks/cement-lab";
@use "./blocks/special-tests";
@use "./blocks/offerings";
@use "./blocks/supervising";
@use "./blocks/cementing";
@use "./blocks/examples";
@use "./blocks/maintenance";
@use "./blocks/training";
@use "./blocks/course";
@use "./blocks/handout";
@use "./blocks/rec";
@use "./blocks/overview";
@use "./blocks/advantages";
@use "./blocks/value-prop";
@use "./blocks/intro";
@use "./blocks/lead-form";
@use "blocks/showcase";
@use "./blocks/shots";
@use "./blocks/legal";
@use "./blocks/cookies-consent";
@use "./blocks/mudlabins";
@use "./blocks/service";
@use "./blocks/patent";